# Q1
## A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.</h3>

<font color='#7FDBFF'>
    <h2>H0 : μA = μB</h2>
    <h2>Ha : μA != μB</h2>
</font>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/Cutlets.csv')
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
df.shape

(35, 2)

In [4]:
df.isnull().sum()

Unit A    0
Unit B    0
dtype: int64

## <u>2 sample 2-tail test</u>
## Using independent t-test </h2>

In [5]:
unitA = pd.Series(df.iloc[:,0])
unitB = pd.Series(df.iloc[:,1])

In [6]:
from scipy import stats

In [7]:
t_value , p_value = stats.ttest_ind(unitA,unitB)
print('t value = {} \nand corresponding p-value = {}'.format(t_value , p_value))

t value = 0.7228688704678061
and corresponding p-value = 0.4722394724599501

## <u> Inference :</u>
## Since p > 0.05 , we have failed to reject null hypothesis</h2>
   <h2> It implies that there is no significant difference in the diameter of the two cutlets.</h2>


# Q2
<h3>    A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch. Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level. </h3>

<h2> H0 : μ1 = μ2 = μ3 = μ4 <br>
     Ha : any one μ is different </h2>

In [8]:
df2 = pd.read_csv('data/LabTAT.csv')
df2.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [9]:
df2.isnull().sum()

Laboratory 1    0
Laboratory 2    0
Laboratory 3    0
Laboratory 4    0
dtype: int64


## Since there are multiple numeric samples , we will use ANOVA f-statistic

In [10]:
statistic, p_value = stats.f_oneway(df2.iloc[:,0],df2.iloc[:,1],df2.iloc[:,2],df2.iloc[:,3])

In [11]:
print('Statistic value = {} \nand corresponding p-value = {}'.format(statistic,p_value))

Statistic value = 118.70421654401437
and corresponding p-value = 2.1156708949992414e-57

## <u> Inference : </u>
<h2> Since p < 0.05 , we will reject null hypothesis <br>
     It implies that there is difference in average TAT among the laboratories </h2>

## Q3
<h3> Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.</h3>

## H0 : μE = μW = μN = μS
## Ha : any one μ is different </h2>

In [12]:
df3 = pd.read_csv('data/BuyerRatio.csv')
df3

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [13]:
df3.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

## Since there are multiple numeric samples , we will use ANOVA f-statistic test

In [14]:
stat , p_value = stats.f_oneway(df3.iloc[:,1], df3.iloc[:,2], df3.iloc[:,3], df3.iloc[:,4])

In [15]:
print('Statistic value = {} \nand corresponding p-value = {}'.format(stat,p_value))

Statistic value = 0.3068565327605033
and corresponding p-value = 0.8204060154887464

# <u>Inference</u>
<h2> Since p > 0.05 , we have failed to reject null hypothesis<br>
     It implies that male-female buyer rations is similar in different regions</h2>

# Q4
<h3> TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences</h3>

<font color='#7FDBFF'>
<h2>H0 : defective % does not vary by centre<br>
     Ha : defective % varies by centre</h2>

# <u> Method 1 </u>: Using chi-square test

In [16]:
df4 = pd.read_csv('data/Costomer+OrderForm.csv')
df4.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [17]:
df4['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [18]:
df4['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [19]:
df4['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [20]:
df4['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [21]:
import numpy as np
# Creating contingency table
cont_table = np.array([[271,267,269,280],[29,33,31,20]])

In [22]:
cont_table

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

## Importing chi2_contingency

In [23]:
from scipy.stats import chi2_contingency

In [24]:
stat , p_value , dof , expected_value = chi2_contingency(cont_table)

In [25]:
print(f'Statistic = {stat} \np value = {p_value} \nDegree of freedom = {dof} \nExpected values = {expected_value}')

Statistic = 3.858960685820355
p value = 0.2771020991233135
Degree of freedom = 3
Expected values = [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

## <u> Inference</u>
 <h2>Since p > 0.05 , we have failed to reject null hypothesis<br>
     It implies that the defective % does not vary by centre</h2>

# <u>Method2 </u>: By doing label encoding of categorical data and then using ANOVA f-test

In [26]:
df5 = df4.copy()

In [27]:
df5.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [28]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()

In [29]:
# Label encoding
df5.iloc[:,0] = label.fit_transform(df5.iloc[:,0])
df5.iloc[:,1] = label.fit_transform(df5.iloc[:,1])
df5.iloc[:,2] = label.fit_transform(df5.iloc[:,2])
df5.iloc[:,3] = label.fit_transform(df5.iloc[:,3])

In [30]:
df5.head()

   Phillippines  Indonesia  Malta  India
0             1          1      0      1
1             1          1      1      0
2             1          0      0      1
3             1          1      1      1
4             1          1      0      1

In [31]:
df5.dtypes

Phillippines    int32
Indonesia       int32
Malta           int32
India           int32
dtype: object

In [32]:
stat , p_value = stats.f_oneway(df5.iloc[:,0],df5.iloc[:,1],df5.iloc[:,2],df5.iloc[:,3])

In [33]:
print(f'Statistic = {stat} \n p-value = {p_value}')

Statistic = 1.286168556089167
 p-value = 0.2776780955705948

# <u>Inference<u>
<h2> Since p > 0.05 , we have failed to reject null hypothesis<br>
     It implies that the defective % does not vary by centre

# <u>Additional observation: </u>
 <h2>Both chi2 and f-test yielded same p-value . It means both methods are correct.